.dashboard {
    overflow: hidden;
}

.dashboard .sidebar {
    overflow: hidden;
    border-top: 2px solid #1f8ef1;
    box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.1),
        0 4px 20px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    transition-timing-function: linear, linear, ease;
    height: 52px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    margin-top: 0;
    border-radius: 0;
    transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.dashboard .sidebar-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 15px;
}

.dashboard .logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    padding-right: 32px;
}

.dashboard .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.dashboard .logo img {
    height: 23px;
    font-size: 32px;
    margin-right: 12px;
    max-width: 100%;
}

.dashboard .navbar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    transition: 0.2s;
    padding-right: 32px;
    padding-left: 12px;
}

.dashboard .navbar-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.dashboard .navbar-item.active {
    background: rgba(0, 0, 0, 0.1);
}

.dashboard .navbar-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: #444;
}

.dashboard .navbar-item-wrapper p {
    font-weight: 900;
    font-size: 14px;
    margin: 0;
}

.dashboard .navbar-item-wrapper i {
    font-size: 20px;
    margin-right: 12px;
}

.dashboard .footer {
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 22px 0px,
        rgba(0, 0, 0, 0.15) 0px 4px 20px 0px;
    border-top: 2px solid #1f8ef1;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6px 0;
}

.dashboard .footer-nav .nav-item {
    display: inline-block;
}

.dashboard .footer-nav .nav-item a {
    line-height: 24px;
    font-size: 12px;
    padding: 0 0.5rem;
    display: block;
    text-transform: uppercase;
    color: #444;
    font-weight: 500;
}

.dashboard .footer .copyright {
    color: #444;
    font-weight: 900;
    margin: 6px 0;
    font-size: 12px;
    padding-right: 30px;
}

.dashboard .navbar-toggle {
    display: inline;
    display: none;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 2;
}

.dashboard .navbar-toggler {
    cursor: pointer;
    outline: none;
    padding: 4px 12px;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.dashboard .navbar-toggler-bar {
    background: #1d253b;
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
}

.dashboard .navbar-toggler-bar + .navbar-toggler-bar {
    margin-top: 7px;
}

.dashboard .bar1,
.dashboard .bar2,
.dashboard .bar3 {
    outline: 1px solid transparent;
}

.dashboard .bar1 {
    top: 0px;
    -webkit-animation: topbar-back 500ms linear 0s;
    -moz-animation: topbar-back 500ms linear 0s;
    animation: topbar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dashboard .bar2 {
    width: 17px;
    -webkit-transition: width 0.2s linear;
    transition: width 0.2s linear;
    opacity: 1;
}

.dashboard .bar3 {
    bottom: 0px;
    -webkit-animation: bottombar-back 500ms linear 0s;
    -moz-animation: bottombar-back 500ms linear 0s;
    animation: bottombar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dashboard .nav-opened .bar1 {
    top: 6px;
    -webkit-animation: topbar-x 500ms linear 0s;
    -moz-animation: topbar-x 500ms linear 0s;
    animation: topbar-x 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dashboard .nav-opened .bar2 {
    opacity: 0;
}

.dashboard .nav-opened .bar3 {
    bottom: 6px;
    -webkit-animation: bottombar-x 500ms linear 0s;
    -moz-animation: bottombar-x 500ms linear 0s;
    animation: bottombar-x 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin-top: 3px;
}

.dashboard .user {
    color: #000;
    position: fixed;
    top: 0px;
    right: 9px;
    padding: 8px 26px 8px 28px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 11px;
}

.dashboard .user .dropmenu {
    position: absolute;
    will-change: transform;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 1px, 0) !important;
    display: block;
    right: 0;
    left: auto !important;
    bottom: auto;
    border: 0;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.1428rem;
    transition: all 0.15s linear;
    min-width: 10rem;
    font-size: 14px;
    background: #fff;
    color: #9a9a9a;
}

.dashboard .user .dropmenu:before {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    top: -5px;
    right: 10px;
    color: #fff;
    border-bottom: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
}

.dashboard .user .dropmenu.show {
    opacity: 1;
    visibility: visible;
}

.dashboard .user-logout {
    display: none;
}

.dashboard .user .dropmenu .drop__items {
    padding: 8px 1rem;
}

.dashboard .link-user:focus,
.dashboard .link-user:hover {
    background-color: rgba(222, 222, 222, 0.3);
}

.dashboard .link-user {
    background: none;
    border: none;
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 12px;
    color: #9a9a9a;
    transition: all 0.15s linear;
}

.dashboard .trig {
    position: absolute;
    top: 30px;
    right: 5px;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-top: -5px;
    cursor: pointer;
}

.dashboard .navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.dashboard .nav-toggler {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 10px;
    padding: 4px 12px;
    background: none;
    border: none;
    display: none;
    outline: none;
}

.dashboard .nav-toggler .navbar-kebab {
    margin: 0;
    height: 4px;
    width: 4px;
    margin-bottom: 3px;
    border-radius: 50%;
}

.dashboard .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.dashboard .loader:before {
    content: "";
    width: 4rem;
    height: 4rem;
    border-top: 3px solid rgba(34, 42, 66, 0.5);
    border-right: 3px solid transparent;
    border-radius: 50%;
    -webkit-animation: rotation 0.8s linear infinite;
    animation: rotation 0.8s linear infinite;
}

.dashboard .content {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    overflow: hidden;
}

.dashboard .main {
    padding: 80px 20px;
    min-height: calc(100vh - 59px);
    width: 100%;
}

.dashboard .card {
    background: #fff;
    box-shadow: 0 1px 15px 0 rgba(123, 123, 123, 0.05);
    border: 0;
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 0rem;
}

.dashboard .card-header {
    padding: 15px 15px 0;
    border: 0;
    margin-bottom: 0;
}

.dashboard .card-cathegory {
    color: #9a9a9a;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 1.4em;
}

.dashboard .card-title {
    color: #1d253b;
    font-weight: 400;
    margin-bottom: 12px;
    font-size: 27px;
}

.dashboard .card-body {
    padding: 15px;
    flex: 1 1 auto;
}

.dashboard .table-responsive {
    overflow: auto;
    padding-bottom: 10px;
    display: block;
    width: 100%;
}

.dashboard .table-mon {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.dashboard .text-primary {
    color: #1f8ef1 !important;
}

.dashboard .text-primary tr th {
    color: rgba(34, 42, 66, 0.7);
    padding: 12px 7px;
    vertical-align: middle;
    border-bottom-width: 1px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    text-align: center;
    font-size: 12px;
}

.dashboard .card-data {
    text-align: center;
}

.dashboard .card-data > tr {
    height: 140px;
}

.dashboard .card-data > tr > td {
    border-color: rgba(34, 42, 66, 0.2);
    padding: 12px 7px;
    vertical-align: middle;
    color: rgba(34, 42, 66, 0.7) !important;
    border-top: 0.0625rem solid #e3e3e3;
}

.dashboard .card-data > tr > td > img {
    max-width: 100%;
    width: 140px;
    min-width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}

.dashboard .card-data > tr > td > .name {
    text-align: left;
    margin: auto;
    max-width: 300px;
    width: 100%;
    font-size: 14px;
}

.dashboard .card-data > tr > td > .trand > .chart-area {
    position: relative;
}

.dashboard .card-data > tr > td.m-btns {
    margin-top: 10px;
    vertical-align: top;
}

.dashboard .l-w {
    position: relative;
}

.dashboard .view-btn:hover {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    top:-1px;
}

.dashboard .view-btn {
    position: relative;
    font-weight: 600;
    background: #00f;
    background-image: -webkit-linear-gradient(
        to bottom left,
        #00f,
        #0000a0,
        #00f
    );
    background-image: -webkit-linear-gradient(top right, #00f, #0000a0, #00f);
    background-image: linear-gradient(to bottom left, #00f, #0000a0, #00f);
    background-size: 210% 210%;
    background-position: top right;
    background-color: #00f;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 4px 14px;
    color: #00f;
    border-color: #00f;
    background: transparent;
    font-size: 12px;
    border: 1px solid;
}

@media screen and (max-width: 991px) {
    .dashboard .sidebar {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: 260px;
        right: auto;
        left: 0;
        margin: 0;
        border-radius: 0;
        z-index: 1032;
        visibility: visible;
        overflow-y: visible;
        padding: 0;
        -webkit-transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -webkit-transform: translate3d(-260px, 0, 0);
        transform: translate3d(-260px, 0, 0);
    }

    .dashboard .navbar-wrapper {
        position: absolute;
        z-index: 1;
        background: #fff;
        top: -130px;
        left: 0;
        display: flex;
        -webkit-transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }

    .dashboard .user {
        position: relative;
        margin-top: 40px;
        margin-left: 7px;
        width: 100%;
    }

    .dashboard .trig {
        left: 140px;
        top: 25px;
    }

    .dashboard .user-opened .navbar-wrapper {
        top: 0px;
    }

    .dashboard .user-logout {
        display: inline-block;
        text-transform: uppercase;
        margin-left: 7px;
        color: #222a42;
        margin-bottom: 5px;
        font-weight: 300;
        font-size: 14px;
    }

    .dashboard .user .dropmenu {
        position: relative;
        background: none;
        box-shadow: none;
        display: none;
    }

    .dashboard .dropmenu.show {
        display: block;
    }

    .dashboard .nav-toggler {
        display: block;
    }

    .dashboard .navbar-toggle {
        display: block;
    }

    .dashboard body.nav-opened .content {
        left: 260px;
    }

    .dashboard body.nav-opened .sidebar {
        left: 260px;
    }

    .dashboard .main {
        padding: 70px 15px;
    }
}

.dashboard .card-wrappers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dashboard .card-details {
    width: 65%;
}

.dashboard .card-user {
    width: 30%;
}

.dashboard .card-subtitle {
    color: #1d253b;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.dashboard .card-body hr {
    margin: 16px 0;
    border: 0;
    height: 0;
    overflow: visible;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard .form-group label {
    color: #344675;
    font-size: 12px;
    font-weight: 400;
}

.dashboard .form-group {
    position: relative;
    margin-bottom: 10px;
}

.dashboard form .form-control {
    margin-bottom: 20px;
}

.dashboard .form-control {
    color: #222a42;
    border-radius: 4px;
    font-size: 12px;
    padding: 10px 18px 10px 18px;
    width: 100%;
    border-color: rgba(29, 37, 59, 0.3);
    border-width: 1px;
}

.dashboard input[disabled].form-control {
    background: #e3e3e3;
}

.dashboard .form-col-2 {
    width: 30%;
}

.dashboard .form-col {
    width: 65%;
}

.dashboard .form-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dashboard .btn-secondary {
    width: 100%;
    padding: 11px 12px;
    cursor: pointer;
    border: none;
    border-width: 2px;
    background-image: linear-gradient(
        to bottom left,
        #344675,
        #263148,
        #344675
    );
    background-size: 210% 210%;
    background-position: top right;
    background-color: #344675;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    position: relative;
}

.dashboard .card label {
    display: block;
    margin-bottom: 5px;
}

.dashboard button {
    outline: none;
}

.dashboard .modal {
    display: none;
    max-width: 500px;
    width: 100%;
    position: fixed;
    top: 28px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    padding: 10px;
}

.dashboard .modal-wrapper {
    width: 100%;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.2),
        0 5px 15px rgba(0, 0, 0, 0.17);
    background: #fff;
    padding: 16px 24px;
}

.dashboard .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
}

.dashboard .modal-title {
    color: #222a42;
    font-size: 13px;
    font-weight: 400;
}

.dashboard .modal-close {
    color: #fd5d93;
    text-shadow: none;
    padding: 10px;
    cursor: pointer;
}

.dashboard .modal-body {
    padding: 24px 0 16px 0;
    position: relative;
    color: #525f7f;
    font-size: 14px;
    font-weight: 400;
}

.dashboard .modal-footer {
    display: flex;
    justify-content: space-between;
}

.dashboard .btn-cancel {
    width: auto;
}

.dashboard .btn-primary {
    position: relative;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 16px;
    background: #1f8ef1;
    background-image: -webkit-linear-gradient(
        to bottom left,
        #1f8ef1,
        #00f,
        #1f8ef1
    );
    background-image: -webkit-gradient(
        linear,
        right top,
        left bottom,
        from(#1f8ef1),
        color-stop(#00f),
        to(#1f8ef1)
    );
    background-image: -webkit-linear-gradient(
        top right,
        #1f8ef1,
        #00f,
        #1f8ef1
    );
    background-image: linear-gradient(to bottom left, #1f8ef1, #00f, #1f8ef1);
    background-size: 210% 210%;
    background-position: top right;
    background-color: #1f8ef1;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.dashboard .btn-secondary:hover,
.dashboard .btn-primary:hover {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    top: -1px;
    outline: none;
}

.dashboard .modal-section {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.dashboard .modal-section-2 {
    display: block;
}

.dashboard .modal-item-1,
.dashboard .modal-item-2 {
    width: 48%;
}

.dashboard .modal label {
    margin-bottom: 8px;
    display: block;
}

.dashboard .modal span {
    color: red;
}

.dashboard .modal input:focus {
    border: 1px solid rgba(30, 117, 216, 0.856);
}

.dashboard .modal input {
    outline: none;
}

@media screen and (max-width: 773px) {
    .dashboard .card-details,
    .dashboard .form-col {
        width: 100%;
    }

    .dashboard .card-user,
    .dashboard .form-col-2 {
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    .dashboard .footer {
        justify-content: center;
    }

    .dashboard .main {
        padding: 60px 8px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes topbar-back {
    0% {
        top: 6px;
        transform: rotate(135deg);
    }

    45% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        top: 0px;
        transform: rotate(0);
    }
}

@-webkit-keyframes topbar-back {
    0% {
        top: 6px;
        -webkit-transform: rotate(135deg);
    }

    45% {
        -webkit-transform: rotate(-10deg);
    }

    75% {
        -webkit-transform: rotate(5deg);
    }

    100% {
        top: 0px;
        -webkit-transform: rotate(0);
    }
}

@-moz-keyframes topbar-back {
    0% {
        top: 6px;
        -moz-transform: rotate(135deg);
    }

    45% {
        -moz-transform: rotate(-10deg);
    }

    75% {
        -moz-transform: rotate(5deg);
    }

    100% {
        top: 0px;
        -moz-transform: rotate(0);
    }
}

@keyframes bottombar-back {
    0% {
        bottom: 6px;
        transform: rotate(-135deg);
    }

    45% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        bottom: 0px;
        transform: rotate(0);
    }
}

@-webkit-keyframes bottombar-back {
    0% {
        bottom: 6px;
        -webkit-transform: rotate(-135deg);
    }

    45% {
        -webkit-transform: rotate(10deg);
    }

    75% {
        -webkit-transform: rotate(-5deg);
    }

    100% {
        bottom: 0px;
        -webkit-transform: rotate(0);
    }
}

@-moz-keyframes bottombar-back {
    0% {
        bottom: 6px;
        -moz-transform: rotate(-135deg);
    }

    45% {
        -moz-transform: rotate(10deg);
    }

    75% {
        -moz-transform: rotate(-5deg);
    }

    100% {
        bottom: 0px;
        -moz-transform: rotate(0);
    }
}

@keyframes topbar-x {
    0% {
        top: 0px;
        transform: rotate(0deg);
    }

    45% {
        top: 6px;
        transform: rotate(145deg);
    }

    75% {
        transform: rotate(130deg);
    }

    100% {
        transform: rotate(135deg);
    }
}

@-webkit-keyframes topbar-x {
    0% {
        top: 0px;
        -webkit-transform: rotate(0deg);
    }

    45% {
        top: 6px;
        -webkit-transform: rotate(145deg);
    }

    75% {
        -webkit-transform: rotate(130deg);
    }

    100% {
        -webkit-transform: rotate(135deg);
    }
}

@-moz-keyframes topbar-x {
    0% {
        top: 0px;
        -moz-transform: rotate(0deg);
    }

    45% {
        top: 6px;
        -moz-transform: rotate(145deg);
    }

    75% {
        -moz-transform: rotate(130deg);
    }

    100% {
        -moz-transform: rotate(135deg);
    }
}

@keyframes bottombar-x {
    0% {
        bottom: 0px;
        transform: rotate(0deg);
    }

    45% {
        bottom: 6px;
        transform: rotate(-145deg);
    }

    75% {
        transform: rotate(-130deg);
    }

    100% {
        transform: rotate(-135deg);
    }
}

@-webkit-keyframes bottombar-x {
    0% {
        bottom: 0px;
        -webkit-transform: rotate(0deg);
    }

    45% {
        bottom: 6px;
        -webkit-transform: rotate(-145deg);
    }

    75% {
        -webkit-transform: rotate(-130deg);
    }

    100% {
        -webkit-transform: rotate(-135deg);
    }
}

@-moz-keyframes bottombar-x {
    0% {
        bottom: 0px;
        -moz-transform: rotate(0deg);
    }

    45% {
        bottom: 6px;
        -moz-transform: rotate(-145deg);
    }

    75% {
        -moz-transform: rotate(-130deg);
    }

    100% {
        -moz-transform: rotate(-135deg);
    }
}
