.landing .container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 144px auto 0;
    padding-bottom: 200px;
}

.landing .navbar-landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    transition: all 0.5s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2px solid #1f8ef1;
    box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.landing .navbar-landing .logo {
    padding: 0 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .navbar-landing .logo img {
    width: 140px;
}

.landing .navbar-landing .nav {
    display: flex;
    align-items: center;
}

.landing .navbar-landing .nav__links {
    margin: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing .navbar-landing .nav__link {
    font-size: 14px;
    padding: 8px;
}

.landing .navbar-landing .nav__items {
    align-items: center;
    display: flex;
}

.landing .navbar-landing .nav__items .dropmenu {
    top: 110%;
    right: 10px;
}

.landing .navbar-landing .burger {
    display: none;
    font-size: 32px;
    color: #525f7f;
}

.landing .b-menu {
    position: fixed;
    z-index: 11;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 300px;
    transition: all 0.7s ease 0s;
    background: #fff;
    font-size: 16px;
    padding: 54px 37px 0;
}

.landing .b-menu.active {
    display: block;
    left: 0;
}

.landing .b-menu-close {
    color: #000;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.landing .b-logo img {
    width: 200px;
    display: block;
    padding: 14px 0;
    margin: auto;
    cursor: pointer;
}

.landing .b-nav__links {
    display: flex;
    flex-direction: column;
}

.landing .b-nav__links .nav__link {
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
}

.landing .navbar {
    padding: 10px 30px 10px 15px;
}

.landing .b-overlay {
    opacity: 0;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease 0s;
    background: rgba(0, 0, 0, 0.301);
}

.landing .b-overlay.active {
    opacity: 1;
    z-index: 5;
}

.landing .button {
    padding: 6px 12px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 14px;
    transition: all 0.2s ease 0s;
}

.landing .button-nav {
    text-transform: uppercase;
    margin-left: 12px;
    background-color: #1f8ef1;
    color: #fff;
    border: 1px solid #1f8ef1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
}

.landing .button-nav:focus,
.landing .button-nav:hover {
    background-color: #fff;
    color: #1f8ef1;
}

.landing .button-footer {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 700;
}

.landing .button-login {
    background: #000;
    color: #fff;
    padding: 12px;
    font-weight: 700;
}

.landing .button-reg {
    padding: 12px;
    margin: 24px 0;
    text-align: center;
}

.landing .button-registration {
    color: #fff;
    background: #000;
    padding: 12px 0;
}

.landing .link {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 300;
}

.landing .link-user {
    background: none;
    border: none;
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 12px;
    color: #9a9a9a;
    transition: all 0.15s linear;
}

.landing .link-user:focus,
.landing .link-user:hover {
    background-color: rgba(222, 222, 222, 0.3);
}

.landing .input {
    line-height: 21px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 12px 16px;
    font-size: 14px;
    width: 100%;
    outline: none;
}

.landing .input:focus {
    border: 1px solid #1f8ef1;
}

.landing .input-landing {
    margin-bottom: 12px;
}

.landing .input-footer {
    margin-top: 12px;
}

.landing .user {
    color: #000;
    position: relative;
    padding: 8px 26px 8px 28px;
    cursor: pointer;
}

.landing .user .dropmenu {
    position: absolute;
    will-change: transform;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 1px, 0) !important;
    display: block;
    right: 0;
    left: auto !important;
    bottom: auto;
    border: 0;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.1428rem;
    transition: all 0.15s linear;
    min-width: 10rem;
    font-size: 14px;
    background: #fff;
    color: #9a9a9a;
}

.landing .user .dropmenu:before {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    top: -5px;
    right: 10px;
    color: #fff;
    border-bottom: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
}

.landing .user .dropmenu.show {
    opacity: 1;
    visibility: visible;
}

.landing .user .dropmenu .drop__items {
    padding: 8px 1rem;
}

.landing .footer {
    display: flex;
    color: #fff;
    background: #000;
}

.landing .footer-col-20 {
    width: 20%;
}

.landing .footer-col-40 {
    width: 40%;
}

.landing .footer-hd {
    padding: 12px 0;
    font-size: 13px;
    font-weight: 700;
}

.landing .footer-td {
    font-size: 14px;
    padding: 4px 0;
    color: #fff;
    display: block;
}

.landing .footer-wrapper {
    padding: 12px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.landing .copy-wrapper {
    width: 100%;
    font-size: 16px;
    text-align: center;
    background: #000;
}

.landing .copy-wrapper,
.landing .promo {
    padding: 24px;
    color: #fff;
}

.landing .promo {
    font-size: 24px;
    font-weight: 700;
    background: #1f8ef1;
}

.landing .promo-wrapper {
    text-align: center;
    background: none;
    margin: 0 auto;
}

.landing .content-wrapper {
    border-radius: 4px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.01), -1px 3px 5px 0 rgba(0, 0, 0, 0.15);
    font-size: 14px;
    width: 26em;
    padding: 28px 18px 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.landing .content-title {
    margin-bottom: 24px;
    font-size: 38px;
    color: #000;
    text-align: center;
    font-variant: all-small-caps;
}

.landing .content-link {
    padding-top: 24px;
    padding-bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.landing .content-link-item {
    color: #0070ba;
}

.landing .content-divide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing .content-divider {
    background: #ddd;
    height: 1px;
    flex: 0.4 1 0%;
    border: 0;
    margin: 1rem;
}

.landing .content-error {
    margin-bottom: 12px;
    color: red;
}

.landing .notfound {
    min-height: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .notfound img {
    width: 100%;
    height: auto;
    max-width: 600px;
}

@media screen and (max-width: 785px) {
    .landing .navbar-landing .burger {
        display: block;
        cursor: pointer;
    }

    .landing .navbar-landing .logo,
    .landing .navbar-landing .nav__links {
        display: none;
    }
}

@media screen and (max-width: 830px) {
    .landing .footer-col-40 {
        width: 100%;
    }

    .landing .footer-col-20 {
        width: 33%;
    }
}

@media screen and (max-width: 580px) {
    .landing .footer-hd {
        padding: 24px 0 6px;
        font-size: 16px;
        font-weight: 700;
    }

    .landing .footer-td {
        padding: 0;
        font-size: 16px;
        color: #fff;
        display: block;
    }

    .landing .footer-col-20 {
        width: 100%;
    }

    .landing .promo-wrapper {
        text-align: left;
    }

    .landing .content-wrapper {
        width: 100%;
    }

    .landing .content-title {
        margin-top: 54px;
    }
}